
@{
    ViewBag.Title = "HoDiepXanhDuong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Lan hồ điệp màu xanh dương màu của bầu trời. Giống hoa lan màu này rất hiếm do quá trình trồng phải có nhiều kỹ thuật và dưỡng chất nuôi cây dành riêng cho nó, để có thể tạo nên những bông hoa xanh dương tuyệt đẹp. Màu xanh biểu tượng cho sự cao quý, và vô cùng quý giá. Ngoài ra nó còn chút thiên về tâm linh và thiền định.
    Những chậu lan hồ điệp đẹp màu xanh dương, màu của sự tự do, nhìn lên bầu trời trong xanh, bạn sẽ cảm thấy thoải mái, hòa mình và trôi theo những đám mây.Hoa lan hồ điệp xanh được trồng trong chậu sứ là món quà tuyệt vời trong dịp sinh nhật, mừng thọ, hay những sự kiện khai trương, mở cửa hàng, công ty… mang đến sự thịnh vượng cho doanh nghiệp, đối tác, bạn bè, người thân.

    Ngoài ra còn rất nhiều màu hoa lan hồ điệp khác nữa, mỗi màu đều mang lại nét đẹp riêng cho hồ điệp. Bởi vẻ đẹp không thể sang trọng quý phải được thể hiện lẫn bên ngoài và bên trong.
</p>
<img src="~/Images/xanhduong1.jpg" />

