
@{
    ViewBag.Title = "HoDiepTim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    màu tím rất được nhiều người yêu thích trong các dịp lễ tết, cùng với sự khoe sắc vàng của hoa mai, sắc hồng của hoa đào thì màu tím của hoa hồ điệp cũng không kém cạnh với sự sặc sỡ của màu tím cùng sự tươi tắn chắc khỏe từ mỗi cánh hoa phong lan được nở một cách đối xứng, hoa vươn lên phía trên theo thân cây thẳng đứng rồi nhẹ nhàng nghiêng xuống để khoe sắc.

    Bạn cũng thường thấy những cặp đôi yêu nhau, vợ với chồng thường tặng nhau chậu hoa lan đẹp. Bởi lẽ hoa hồ điệp đẹp màu tím tượng trưng cho sự chung thủy sắc son trong tình yêu, tình cảm đậm sâu và bền lâu, hơn thế nữa sắc tím của hoa hồ điệp thể hiện sự lãng mạn, nhẹ nhàng, tinh tế…khó có cô gái, chàng trai nào có thể chối từ một chậu hoa lan hồ điệp đẹp lại mang nhiều ý nghĩa như vậy.
    Bạn là lãnh đạo, cấp trên đang muốn lựa chọn món quà làm phần thưởng cho nhân viên thì một chậu lan hồ điệp là món quà tuyệt vời với ý nghĩa công nhận công lao của nhân viên và ngầm mong muốn sự trung thành, làm việc bền lâu của nhân viên đó với công ty.
</p>
<img src="~/Images/tim1.jpg" />


