
@{
    ViewBag.Title = "HoDiepTrang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <p>
        Lan Hồ điệp màu trắng là biểu tượng của sự tinh khôi, ngây thơ hồn nhiên,nét xinh đẹp và sự trang trọng. Bạn có thể chọn chậu hồ điệp trắng để tặng người thân yêu của mình với mong muốn những điều tốt đẹp nhất sẽ tới bên họ. Chậu lan hồ điệp đẹp mang lại vẻ đẹp sang trọng, tinh khiết cho nơi làm việc hoặc ngôi nhà.
        Bạn có thể tặng lan hồ điệp nhân dịp tân gia, khai trương, mừng bạn bè có công việc mới hay được thăng chức với mong muốn chúc mừng bạn mình bắt đầu với sự khởi đầu đầy may mắn, giàu sang, thịnh vượng.
    </p>
<img src="~/Images/trang1.jpg" />


