
@{
    ViewBag.Title = "HoDiepVang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    Lan hồ điệp màu vàng tượng trưng cho tình bạn thể hiện tình cảm chân thành. Bạn mong muốn tình bạn bền chặt, dài lâu thì đây là một sự lựa chọn rất khôn khéo và thông mình để tặng người bạn của mình và ngầm gửi tới thông điệp mà không phải nói ra bằng lời. Có thể nhân dịp sinh nhật, dịp bạn mình có công việc mới hoặc gửi lời cảm ơn tới bạn đã giúp đỡ mình bằng món quà đầy ý nghĩa này.
</p>
<img src="~/Images/vang1.jpg" />

