@model banhoa.Models.IndexViewModel
@{
    ViewBag.Title = "Admin";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    Hello Admin

    hâhhahahahaha
    hâhhahahahaha
    hâhhahahahaha
    hâhhahahahaha
    hâhhahahahaha
    hâhhahahahaha
    hâhhahahahaha
    hâhhahahahaha
    hâhhahahahaha
    hâhhahahahaha
    hâhhahahahaha
    hâhhahahahaha
</div>
